@import 'core/variables';
@import 'core/reset';
.main__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  .main__list--card {
    position: relative;
    width: 300px;
    height: 250px;
    background-color: $lightgrey;
    border: 1px solid $darkgrey;
    border-radius: 10px;
    margin: 30px auto auto auto;
    &:hover {
      animation-name: moveup;
      animation-duration: 0.2s;
      animation-iteration-count: 1;
    }
    @keyframes moveup {
      from {
        transform: translateY(0px) scale(1);
      }
      to {
        transform: translateY(-5px) scale(1.02);
      }
    }
  }
}
