@import 'core/variables';
@import 'core/reset';

.header__filterbtn{
    background-color: $greencolor;
    color: $whitecolor;
    font-size: 18px;
    height: 6vh;
    width: 7vw;
    border-radius: 5px;
    border: none;
    margin-left: 200px;
}